<!-- Page-header start -->
<div class="">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <span><i class="icofont icofont-user bg-c-blue card1-icon"></i></span>
                    <div class="d-inline">
                        <span class="d-block"><h4>Change Password</h4></span>
                        <!-- <span>student</span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/admin-dashboard']">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="card">
    <div class="card-header">
        <h5 class="card-header-text">Change Password</h5>
        <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" [routerLink]="['/sponsors-list']">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="card-body">

        <!-- end of view-info -->
        <div class="edit-info">
            <form [formGroup]="changepasswordForm">
                <input type="hidden" name="user_id" formControlName="user_id">
                <div class="row ">
                    <div class="col-md-6 ">
                        <label>New Password</label>
                        <div class="input-group ">
                            <span class="input-group-prepend "><label class="input-group-text "><i class="icofont icofont-lock "></i></label></span>
                            <input type="password" class="form-control " placeholder="New Password" formControlName="new_password" [ngClass]="{ 'is-invalid': submitted && c.new_password.errors } ">
                            <div *ngIf="submitted && c.new_password.errors " class="invalid-feedback ">
                                <div *ngIf="c.new_password.errors.required ">New Password is required</div>
                                <div *ngIf="c.new_password.errors.pattern">New password must be 8 characters, 1 upper case letter, and 1 special character</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <label>Confirm Password</label>
                        <div class="input-group ">
                            <span class="input-group-prepend "><label class="input-group-text "><i class="icofont icofont-lock "></i></label></span>
                            <input type="password" class="form-control " placeholder="Confirm Passowrd" formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && c.confirm_password.errors }">
                            <div *ngIf="submitted && c.confirm_password.errors " class="invalid-feedback ">
                                <div *ngIf="c.confirm_password.errors.required ">Confirm password is required</div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12 ">
                        <div class="text-right ">
                            <a href="javascript:; " class="btn btn-primary waves-effect waves-light " (click)="updatepassword() ">Update</a>
                            <!-- <a href="javascript:; " id="edit-cancel " class="btn btn-default waves-effect " (click)="toggleEditProfile() ">Cancel</a> -->
                        </div>
                    </div>
                </div>
            </form>
            <!-- end of row -->
        </div>
        <!-- end of edit-info -->
    </div>
    <!-- end of card-body -->
</div>