<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <!-- starts -->
    <div class="auth-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="login-card card-body auth-body">
                    <form class="md-float-material" [formGroup]="resetpasswordform">
                        <div class="text-center">
                            <img src="assets/images/auth/logo-dark.png" alt="Guru Able">
                        </div>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Reset Password</h3>
                                </div>
                            </div>
                            <hr/>
                                <!-- <input type="hidden" formControlName="email" name="email"> -->
                           
                       
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Choose Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && c.password.errors }">
                                <div *ngIf="submitted && c.password.errors" class="invalid-feedback">
                                    <div *ngIf="c.password.errors.required">Password is required</div>
                                    <div *ngIf="c.password.errors.pattern">password must be 8 characters, 1 upper case letter, and 1 special character</div>
                                </div>
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && c.confirm_password.errors }">
                                <div *ngIf="submitted && c.confirm_password.errors" class="invalid-feedback">
                                    <div *ngIf="c.confirm_password.errors.required">Confirm Password is required</div>
                                    <!-- <div *ngIf="c.confirm_password.errors.pattern">Confirm password must be 8 characters, 1 upper case letter, and 1 special character</div> -->
                                </div>
                                <span class="md-line"></span>
                            </div>
                
                            <!-- <input type="hidden" formControlName="token" /> -->

                            
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="resetpassword()">RESET</button>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <span class="text-inverse">Already have an account ?</span>
                                    <a class="f-w-600 text-inverse" href="javascript:void(0)" [routerLink]="['/admin-login']">Login</a>
                                </div>
                            </div> -->
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                                    <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                                </div>
                                <div class="col-md-2">
                                    <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end of form -->
                </div>
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of -->
</section>