<div id="contact" class="contact">
    <div class="container-fluid padding_left2">
      <div class="white_color">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" style="background:url('assets/css/frontend/images/img1.png') 50% / cover;">
            <!-- <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=bottesford%20town%20football%20club+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <a href="https://www.mapsdirections.info/en/measure-map-radius/"></a>
            <a href="https://piratebayproxy.net/">piratebay</a> -->
            <!-- <figure><img src="assets/css/frontend/images/img1.png"></figure> -->
  
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <form class="contact_bg">
              <div class="row">
                <div class="col-md-12">
                  <div class="titlepage">
                    <h2>Contact <strong class="yellow">us</strong></h2>
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Name" type="text" name="Your Name">
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Email" type="text" name="Your Email">
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Phone" type="text" name="Your Phone">
                  </div>
                  <div class="col-md-12">
                    <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <button class="send">Send</button>
                  </div>
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end contact -->