    <!--  footer -->
    <footer>
        <div class="frontend-footer">
          <div class="container">
            <div class="row">
  
              <div class="col-md-12">
                <form class="news">
                  <input class="newslatter" placeholder="Email" type="text" name=" Email">
                  <button class="submit">Subscribe</button>
                </form>
              </div>
              <div class="col-md-12">
                <h2>Newsletter</h2>
                <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in  </span>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                    <div class="address">
                      <h3>Contact us </h3>
                      <ul class="loca">
                        <li>
                          <a href="#"><img src="assets/css/frontend/icon/loc.png" alt="#" /></a>London 145
                          <br>United Kingdom </li>
                          <li>
                            <a href="#"><img src="assets/css/frontend/icon/email.png" alt="#" /></a>demo@gmail.com </li>
                            <li>
                              <a href="#"><img src="assets/css/frontend/icon/call.png" alt="#" /></a>+12586954775 </li>
                            </ul>
                            <ul class="social_link">
                              <li><a href="#"><img src="assets/css/frontend/icon/fb.png"></a></li>
                              <li><a href="#"><img src="assets/css/frontend/icon/tw.png"></a></li>
                              <li><a href="#"><img src="assets/css/frontend/icon/lin(2).png"></a></li>
                              <li><a href="#"><img src="assets/css/frontend/icon/instagram.png"></a></li>
                            </ul>
  
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                          <div class="address">
                            <h3>Courses</h3>
                            <ul class="Menu_footer">
                              <li class="active"> <a href="#">Masters Degree</a> </li>
                              <li><a href="#">Post GraduateU</a> </li>
                              <li><a href="#">Ndergraduate</a> </li>
                              <li><a href="#">Engineering</a> </li>
                              <li><a href="#">Ph.D Degree</a> </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                          <div class="address">
                            <h3>Information</h3>
                            <ul class="Links_footer">
                              <li class="active"><a href="#">Campus Tour</a> </li>
                              <li><a href="#">Student Lifes</a> </li>
                              <li><a href="#">Cholarship</a> </li>
                              <li><a href="#"> Admission</a> </li>
                              <li><a href="#">Leadership</a> </li>
                            </ul>
                          </div>
                        </div>
  
                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                          <div class="address">
                            <!-- <a href="index.html"> <img src="assets/css/frontend/images/logo1.png" alt="logo"></a> -->
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </div>
  
                </div>
                <div class="copyright">
                  <div class="container">
                    <p>Copyright © 2021 Design By A Medcal Consulting Group</p>
                  </div>
                </div>
              </div>
    </footer>
            <!-- end footer -->