<!-- about  -->
<div id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <h2>About <strong class="yellow">Our Game</strong></h2>
          <p> orem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatem maiores eaque similique non
            distinctio voluptates perspiciatis omnis, repellendus ipsa aperiam, laudantium voluptatum nulla?.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, assumenda, vo
            luptatum. Libero eligendi molestias iure error animi totam laudantium, aspernatur similique id eos at
            consectetur illo culpa, </p>
          <a href="Javascript:void(0)">Read more</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <figure><img src="assets/css/frontend/images/about.jpg" alt="#" /></figure>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end abouts -->
<!-- our -->
<div id="important" class="important">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Some <strong class="yellow">important facts</strong></h2>
          <span>luptatum. Libero eligendi molestias iure error animi totam laudantium, aspernatur similique id eos a
            t consectetur illo culpa,</span>
        </div>
      </div>
    </div>
  </div>
  <div class="important_bg">
    <div class="container">
      <div class="row">

        <div class="col col-xs-12">
          <div class="important_box">
            <h3>200+</h3>
            <span>Teachers</span>
          </div>
        </div>
        <div class="col col-xs-12">
          <div class="important_box">
            <h3>20+</h3>
            <span>Colleges</span>
          </div>
        </div>
        <div class="col col-xs-12">
          <div class="important_box">
            <h3>50+</h3>
            <span>Courses</span>
          </div>
        </div>
        <div class="col col-xs-12">
          <div class="important_box">
            <h3>200+</h3>
            <span>Members</span>
          </div>
        </div>
        <div class="col col-xs-12">
          <div class="important_box">
            <h3>10+</h3>
            <span>countries</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end our -->
<!-- Courses -->
<div id="courses" class="Courses">
  <div class="container-fluid padding_left3">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="box_bg">
          <div class="box_bg_img">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="box_my">
                  <figure><img src="assets/css/frontend/images/my1.jpg"></figure>
                  <div class="overlay">
                    <h3>Data Structures</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="box_my">
                  <figure><img src="assets/css/frontend/images/my2.jpg"></figure>
                  <div class="overlay">
                    <h3>Cinematography</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="box_my">
                  <figure><img src="assets/css/frontend/images/my3.jpg"></figure>
                  <div class="overlay">
                    <h3>Skills</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="box_my">
                  <figure><img src="assets/css/frontend/images/my4.jpg"></figure>
                  <div class="overlay">
                    <h3>Teaching Science</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content o</p>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 border_right">
        <div class="box_text">
          <div class="titlepage">
            <h2>My <strong class="yellow"> Courses</strong></h2>
          </div>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
            over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <a href="Javascript:void(0)">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Courses -->

<!-- learn -->


<div id="learn" class="learn">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Learn <strong class="yellow">the Practical way</strong></h2>
          <span>packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
            ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
            sometimes by accident, sometimes on purpose (injected humour and the like).</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="learn_box">
          <figure><img src="assets/css/frontend/images/img.jpg" alt="img" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MAKE -->
<div class="make">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Make Your <strong class="white_colo">Courses Standout</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <div class="make_text">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.
          </p>
          <a href="Javascript:void(0)">Strat now</a>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <div class="make_img">
          <figure><img src="assets/css/frontend/images/make_img.jpg"></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end MAKE -->
<!-- end learn -->
<div id="contact" class="contact">
  <div class="container-fluid padding_left2">
    <div class="white_color">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" style="background:url('assets/css/frontend/images/img1.png') 50% / cover;">
          <!-- <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=bottesford%20town%20football%20club+(Your%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          <a href="https://www.mapsdirections.info/en/measure-map-radius/"></a>
          <a href="https://piratebayproxy.net/">piratebay</a> -->
          <!-- <figure><img src="assets/css/frontend/images/img1.png"></figure> -->

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <form class="contact_bg">
            <div class="row">
              <div class="col-md-12">
                <div class="titlepage">
                  <h2>Contact <strong class="yellow">us</strong></h2>
                </div>
                <div class="col-md-12">
                  <input class="contactus" placeholder="Your Name" type="text" name="Your Name">
                </div>
                <div class="col-md-12">
                  <input class="contactus" placeholder="Your Email" type="text" name="Your Email">
                </div>
                <div class="col-md-12">
                  <input class="contactus" placeholder="Your Phone" type="text" name="Your Phone">
                </div>
                <div class="col-md-12">
                  <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <button class="send">Send</button>
                </div>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end contact -->