<!-- Page-header start -->
<div class="">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <span><i class="icofont icofont-user bg-c-blue card1-icon"></i></span>
                    <div class="d-inline">
                        <span class="d-block">
                            <h4>Assign Sponsor</h4>
                        </span>
                        <!-- <span>student</span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/admin-dashboard']">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="">Assign Sponsor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="row">
    <div class="col-sm-12">
        <!-- Hover table card start -->
        <div class="card">
            <div class="card-header">
                <h5 class="card-header-text">Assign Sponsor</h5>
                <button class="btn btn-sm btn-primary waves-effect waves-light f-right" id="edit-btn" type="button"
                    [routerLink]="['/student-pending-approval-list']"><i
                        class="icofont icofont-error close-card"></i></button>
            </div>
            <!-- <hr> -->
            <div class="card-body">
                <form [formGroup]="assignsponsorForm">
                    <input type="hidden" name="id" formControlName="id">
                    <input type="hidden" formControlName="role_type" />
                    <div class="row">

                        <div class="col-md-6">
                            <label for="student_name">Studen Name *</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><label class="input-group-text"><i
                                            class="icofont icofont-user"></i></label></span>
                                <input type="text" class="form-control" placeholder="Student Name"
                                    formControlName="student_name" [ngClass]="{ 'is-invalid': submitted && c.student_name.errors }">
                                <div *ngIf="submitted && c.student_name.errors" class="invalid-feedback">
                                    <div *ngIf="c.student_name.errors.required">Student Name is required</div>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-6">
                            <label for="team_name">Email *</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><label class="input-group-text"><i
                                            class="icofont icofont-email"></i></label></span>
                                <input type="text" class="form-control" placeholder="Email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && c.email.errors }">
                                <div *ngIf="submitted && c.email.errors" class="invalid-feedback">
                                    <div *ngIf="c.email.errors.required">Email is required</div>
                                    <div *ngIf="c.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="team_name">Student Mobile *</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><label class="input-group-text"><i
                                            class="icofont icofont-phone"></i></label></span>
                                <input type="text" class="form-control" placeholder="Student Mobile"
                                    formControlName="mobile" (keypress)="numberOnly($event)" maxlength="11"
                                    [ngClass]="{ 'is-invalid': submitted && c.mobile.errors }">
                                <div *ngIf="submitted && c.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="c.mobile.errors.required">Student Mobile is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sponsor">Select Sponsor *</label>
                                <ng-multiselect-dropdown class="ng-multiselect-dropdown" name="sponsor" [placeholder]="'Select Sponsor'" [data]="sponsorarray" formControlName="sponsor" [settings]="dropdownSettings" (onSelectAll)="onSelectAll($event)" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                                (click)="onCheck($event)" [ngClass]="{ 'is-invalid': submitted && c.sponsor.errors }" style="padding: 14px 12px !important;">
                            </ng-multiselect-dropdown>
                                <!-- <select class="form-control" id="team" name="team" formControlName="team" [ngClass]="{ 'is-invalid': submitted && f.team.errors }" multiple>
                                    <option value="" selected>Select</option>
                                    <option *ngFor="let t of teamsarray" [value]="t.id">{{t.team_name}}</option>
               </select> -->
                                <div *ngIf="submitted && c.sponsor.errors" class="invalid-feedback">
                                    <div *ngIf="c.sponsor.errors.required">Sponsor is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="javascript:;" class="btn btn-primary waves-effect waves-light"
                                    (click)="assignsponsor()">Assign</a>
                                <!-- <a href="javascript:;" id="edit-cancel" class="btn btn-default waves-effect" (click)="toggleEditProfile()">Cancel</a> -->
                            </div>
                        </div>
                    </div>

                </form>
                <!-- {{addstudentForm.value | json}} -->
            </div>
        </div>

    </div>
</div>